
.confirm {
	font-size: 60px;
	margin: 0 auto;
	max-width: 40%;
	width: 400px;
	line-height: 1.2em;
	text-align: center;
}

.confirm button {
		font-family: 'Mountains of Christmas', cursive;
			background-color: rgba(2, 64, 104, 1.0);
		color: rgba(234, 242, 251, 1.0);
		font-size: 1em;
		height: 125px;
		width: 125px;
		padding: 10px;
		margin: 30px;
		border-color: rgba(234, 242, 251, 1.0);
		border-radius: 10px;
}

.yes{
	float: left;
}
.yes:hover {
	background-color: rgba(62, 142, 72, 1.0) ;
}

.no {
	float:right;
}

.no:hover{
	background-color: rgba(203, 0, 0, 1.0);
}

.sending {
background-image: url('dancing-deer.gif');
height: 450px;
width: 435px;
border-radius: 10px;
}

#sent{
	background-color: rgba(2, 64, 104, 1.0);
	border: 3px solid rgba(62, 142, 72, 1.0);
	color:rgba(234, 242, 251, 1.0)
}
#sent a:link{
    text-decoration: none;
		color:rgba(0, 118, 150, 1.0);
}

#sent a:hover{
	color:red;
}

#sent a:visited {
    text-decoration: none;
		color: rgba(0, 118, 150, 1.0);
}

#nope{
	background-color: rgba(2, 64, 104, 1.0);
	border: 3px solid rgba(62, 142, 72, 1.0);
	color:rgba(234, 242, 251, 1.0);

}
#nope a:link{
    text-decoration: none;
		color:rgba(0, 118, 150, 1.0);
}

#nope a:hover{
	color:red;
}

#nope a:visited {
    text-decoration: none;
		color: rgba(0, 118, 150, 1.0);
